.points{
  font-size: 24px;
  padding-bottom: 3em;
}
.points h1,
.points h2,
.points h3,
.points span{
  margin: 0;
  color: #B29761;
  padding: 0;
  line-height: 1em;
}
.points h1{
  font-size: 1em;
  margin: 0.4em 0;
}

.points-square h3,
.points-flipper span  {
  font-size: 0.5em;
}
.points-square:before {
  content: "";
  position: absolute;
  width: 5em;
  height: 5em;
  -webkit-transform: translateX(-50%) rotateY(0) rotateZ(45deg);
  transform: translateX(-50%) rotateY(0) rotateZ(45deg);
  border: 2px solid #B29761;
  display: inline-block;
  transition: .6s;
}
@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .points-square:before {
    z-index: 10;
    pointer-events: none;
    left: 49.5%;
  }
  *::-ms-backdrop,
  .front,
  *::-ms-backdrop,
  .back {
    z-index: 10;
    background: #1D1C1B;
  }
  *::-ms-backdrop,
  .flip .front {
    z-index: -1;
  }
  *::-ms-backdrop,
  .flip .back {
    backface-visibility: visible;
    z-index: 1;
  }
}
.points-square {
  display: inline-block;
}
.points-square.flip .points-flipper {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.points-square.flip:before {
  -webkit-transform: translateX(-50%) rotateY(-180deg) rotateZ(45deg);
  transform: translateX(-50%) rotateY(-180deg) rotateZ(45deg);
}
.points-square,
.front,
.back {
  width: 5em;
  height: 5em;
}
.points-flipper {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
.front,
.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.points-flipper .back h1:after {
  content: ' kr';
}
.points-flipper span {
  background: transparent;
  border: 0;
  text-decoration: underline;
  outline: none;
}
