.keyhole {
  position: relative;
  margin-bottom: 20px;
  height: 150px;
}
.keyhole svg {
  height: 100%;
}
.draggable_wp{
  transform-origin: 50% 31%;
  position: relative;
  height: 100%;
  z-index: 2;
  transition: opacity 500ms ease;
}

.draggable_wp.finished {
  opacity: 0;
}
.keyhole .reward,
.keyhole .no-reward{
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  transition: opacity 500ms ease;
}
.keyhole .reward{
  z-index: 0;
}
.keyhole .no-reward.hide{
 opacity: 0;
}
.keyhole-challenge {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 370px;
}
.keyhole-challenge button {
  margin: 0;
  width: 200px;
}
.challenge .back-btn{
  left: 20px;
}
.challenge {
  background-color: #111;
}
.challenge h1{
  font-size: 1.5em;
}
.full-challenge {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.full-challenge h1 {
  position: fixed;
  top: 1em;
}
.full-challenge .keyhole {
  height: 250px;
}
.full-challenge .challenge-close {
  opacity: 1;
  display: block;
}
.full-challenge .challenge-button {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}
.full-challenge .challenge-information {
  display: block;
  min-height: 88px;
  margin-top: 1em;
}
.reverse-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.challenge-close {
  position: fixed;
  top: 1.8em;
  left: 1em;
  height: 1.5em;
  width: 1.5em;
  opacity: 0;
  display: none;
}
.challenge-information {
  display: block;
  opacity: 1;
  transition: opacity 250ms ease;
}
.keyhole-challenge.active .full-challenge .challenge-information,
.keyhole-challenge.finished .intial-challenge .challenge-information {
  opacity: 1;
  display: block;
}

.keyhole-challenge.finished .intial-challenge .challenge-button {
  display: none;
}



@media (max-width: 370px) {
  .full-challenge .keyhole {
    height: 230px;
    margin-bottom: 0;
  }
}