.react-datepicker{
  border-radius: 0;
  border: none;
  color: white;
}
.react-datepicker__current-month, 
.react-datepicker-time__header,
.react-datepicker__day-name,
.react-datepicker__day-name, 
.react-datepicker__day, 
.react-datepicker__time-name{
  color: white;
}
.react-datepicker__header{
  border-radius: 0;
  background-color: #333333;
  border: none;
}
.react-datepicker__month-container{
  background-color: #404040;
}

.react-datepicker__day--selected, 
.react-datepicker__day--in-selecting-range, 
.react-datepicker__day--in-range{
  border-radius: 0;
  background-color: #b29660;
}
.react-datepicker__day:hover{
  border-radius: 0;
  background-color: transparent;
}
.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before, .react-datepicker__month-read-view--down-arrow::before, .react-datepicker__month-year-read-view--down-arrow::before{
  border-top-color: #404040;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before{
  border-bottom-color: #333333;
}

.react-datepicker__year-dropdown, .react-datepicker__month-dropdown, .react-datepicker__month-year-dropdown{
  color: white;
  border: none; 
  border-radius: 0;
  background: #262626;
}
.react-datepicker__year-option, .react-datepicker__month-option, .react-datepicker__month-year-option{
  line-height: 2em;
  font-size: 16px;
}


#dropdown-date{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#dropdown-date > *{
  width: 30%;
}
#dropdown-date select{
  width: 100%;
}