.login-screen {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.login-screen > * {
  z-index: 1;
}
.login-screen::after {
  content: "";
  background: #505050 url(../assets/img/ILLUM__0000_Event.jpg) center / cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}
.login-screen .logo {
  width: 20vh;
  display: block;
  margin: 0 auto;
  padding-top: 10vh;
}
.scenes {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.scenes > div[data-handle="illumkey"] {
  flex: 1 0 auto;
  display: flex;
}
.scenes > .alert {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1 1 auto;
  font-family: sans-serif;
  padding: 0 3em;
}
.scenes > .alert > button {
  display: none;
}
.scenes > div:last-child:not([data-handle="illumkey"]) {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  padding-bottom: 1rem;
}
[data-scene] {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 0;
  margin-top: auto;
  transition: 0.7s;
  will-change: opacity;
  flex: 1 1 auto;
}
form input {
  transition: 0.4s opacity linear, 0.4s transform cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform, opacity;
}
[data-scene="register"] form input:nth-of-type(5) {
  transition-delay: 0.1s;
}
[data-scene="register"] form input:nth-of-type(4) {
  transition-delay: 0.15s;
}
[data-scene="register"] form input:nth-of-type(3) {
  transition-delay: 0.2s;
}
[data-scene="register"] form input:nth-of-type(2) {
  transition-delay: 0.25s;
}
[data-scene="register"] form input:nth-of-type(1) {
  transition-delay: 0.3s;
}
[data-scene="login"] form input:nth-of-type(2),
[data-scene="password"] form input:nth-of-type(1) {
  transition-delay: 0.15s;
}
[data-scene="login"] form input:nth-of-type(1) {
  transition-delay: 0.2s;
}
.login-screen .cont {
  margin-top: auto;
}
.login-screen .cont h2,
.login-screen .cont label {
  width: 278px;
  color: #cecece;
}
.login-screen .cont h2 {
  font-size: 18px;
}
.login-screen .cont label {
  font-size: 12px;
  margin-bottom: 2em;
}
input,
button[type="submit"],
select.appselect,
a.facebook-btn {
  -wekbit-appearance: none;
  border-radius: 0;
  background: #232323;
  color: white;
  border: 0;
  display: inline-block;
  height: 45px;
  height: 3.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 278px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 1em;
  outline: none;
  padding: 0 1em;
}
a.facebook-btn {
  position: relative;
  background: #588ac0;
  color: #fff;
  text-align: center;
  font-size: 13px;
  transition: 0.4s;
}
[data-state="password"] a.facebook-btn {
  opacity: 0;
  visibility: hidden;
}
button[type="submit"] {
  background: transparent;
  border: 2px solid #ac915a;
  font-size: 16px;
  height: 2.8125em;
  margin-bottom: 0;
}
.utility-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
  padding: 1.25em 0;
  margin-bottom: 1em;
  color: #fff;
}
.utility-links a {
  color: #ad9262;
  text-decoration: underline;
  font-family: sans-serif;
}
.control-checkbox {
  width: 287px;
}
.control-checkbox input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: none;
}
.control-checkbox label {
  display: inline-block;
  position: relative;
  max-width: 100%;
  margin-bottom: 1em;
  font-weight: 400;
  text-align: left;
  width: 100%;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0;
  text-transform: none;
  color: #d0d0d0;
  padding-left: 35px;
  -webkit-user-select: none;
  user-select: none;
}
.control-checkbox label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  border: none;
  height: 25px;
  width: 25px;
  background: #2d2d2c;
}
.control-checkbox label:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 4px;
  text-shadow: 0 1px 3px #000;
  visibility: none;
  opacity: 0;
  transition: 0.1s;
  width: 9px;
  height: 16px;
  border: solid #b29761;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) scale(0);
}
.control-checkbox input:checked ~ label:after {
  opacity: 1;
  visibility: visible;
  transform: rotate(45deg) scale(1);
}
.control-checkbox label a {
  color: #ab9068;
}
ul.key-bullets {
  padding: 0;
  list-style: none;
  margin-top: 3px;
  margin-bottom: 10px;
}
ul.key-bullets li {
  position: relative;
  line-height: 1.8;
  padding-left: 18px;
}
ul.key-bullets li:before {
  content: "";
  position: absolute;
  left: 2px;
  top: 6px;
  height: 8px;
  transform: rotate(135deg);
  width: 8px;
  background: #b29660;
  transition: 0.3s cubic-bezier(0.25, 0.25, 0.25, 1.25);
  will-change: transform;
}
::-webkit-input-placeholder {
  color: #ad9262;
}
::-moz-placeholder {
  color: #ad9262;
}
:-ms-input-placeholder {
  color: #ad9262;
}
:-moz-placeholder {
  color: #ad9262;
}
@media (max-height: 555px) {
  .logo {
    width: 15vh;
    display: block;
    margin: 0 auto;
    padding-top: 6vh;
  }
  input,
  button[type="submit"],
  a.facebook-btn {
    font-size: 10px;
  }
}
.login-screen .logo {
  width: 20vh;
  display: block;
  margin: 0 auto;
  padding-top: 10vh;
}
.scenes {
  position: relative;
  flex: 1 1 auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 1em;
}
[data-scene] {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  transition: 0.7s;
  will-change: opacity;
}
form input {
  transition: 0.4s opacity linear, 0.4s transform cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform, opacity;
}
[data-scene="register"] form input:nth-of-type(5) {
  transition-delay: 0.1s;
}
[data-scene="register"] form input:nth-of-type(4) {
  transition-delay: 0.15s;
}
[data-scene="register"] form input:nth-of-type(3) {
  transition-delay: 0.2s;
}
[data-scene="register"] form input:nth-of-type(2) {
  transition-delay: 0.25s;
}
[data-scene="register"] form input:nth-of-type(1) {
  transition-delay: 0.3s;
}
[data-scene="login"] form input:nth-of-type(2),
[data-scene="password"] form input:nth-of-type(1) {
  transition-delay: 0.15s;
}
[data-scene="login"] form input:nth-of-type(1) {
  transition-delay: 0.2s;
}
.cont {
  margin-top: auto;
  width: 80%;
}
.cont h2,
.cont label,
p.white {
  width: 278px;
  color: #cecece;
}
.cont h2 {
  font-size: 18px;
}
.cont label {
  font-size: 12px;
  margin-bottom: 2em;
}
input,
button[type="submit"],
a.facebook-btn {
  -wekbit-appearance: none;
  border-radius: 0;
  background: #232323;
  color: #ac915a;
  border: 0;
  display: inline-block;
  height: 45px;
  height: 3.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #ad9262;
  width: 278px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 1em;
  outline: none;
  padding: 0 1em;
}
a.facebook-btn {
  position: relative;
  background: #588ac0;
  color: #fff;
  text-align: center;
  font-size: 13px;
  transition: 0.4s;
}
[data-state="password"] a.facebook-btn {
  opacity: 0;
  visibility: hidden;
}
button[type="submit"] {
  background: transparent;
  border: 2px solid #ac915a;
  font-size: 16px;
  height: 2.8125em;
  margin-bottom: 0;
}
.utility-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
  padding: 1.25em 0;
  margin-bottom: 1em;
  color: #fff;
}
.utility-links a {
  color: #ad9262;
  text-decoration: underline;
}
.permission-group {
  width: 287px;
}
.permission-group input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: none;
}
.permission-group label {
  display: inline-block;
  position: relative;
  max-width: 100%;
  margin-bottom: 1em;
  font-weight: 400;
  text-align: left;
  width: 100%;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0;
  text-transform: none;
  color: #d0d0d0;
  padding-left: 35px;
  -webkit-user-select: none;
  user-select: none;
}
.permission-group label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  border: none;
  height: 25px;
  width: 25px;
  background: #2d2d2c;
}
.permission-group label:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 4px;
  text-shadow: 0 1px 3px #000;
  visibility: none;
  opacity: 0;
  transition: 0.1s;
  width: 9px;
  height: 16px;
  border: solid #b29761;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) scale(0);
}
.permission-group input:checked ~ label:after {
  opacity: 1;
  visibility: visible;
  transform: rotate(45deg) scale(1);
}
.permission-group label a {
  color: #ab9068;
}
ul.key-bullets {
  padding: 0;
  list-style: none;
  margin-top: 3px;
  margin-bottom: 10px;
}
ul.key-bullets li {
  position: relative;
  line-height: 1.8;
  padding-left: 18px;
}
ul.key-bullets li:before {
  content: "";
  position: absolute;
  left: 2px;
  top: 6px;
  height: 8px;
  transform: rotate(135deg);
  width: 8px;
  background: #b29660;
  transition: 0.3s cubic-bezier(0.25, 0.25, 0.25, 1.25);
  will-change: transform;
}
[data-scene="register"] .hide {
  display: none;
}
.authentication-type {
  flex: 1 0 auto;
  display: flex;
}
